main {
  flex: 1;
  min-height: 90vh;
  background-color: #c0d6e5;
  color: rgba(0, 0, 0, 0.55);
}
footer {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
}
