<!-- app.component.html -->
<header>
  <nav class="navbar">
    <div class="navbar-logo">
      <img ngSrc="assets/logo.png" width="50" height="100" priority />
    </div>
    <ul class="navbar-links">
      <li><a *ngIf="!isAuthenticated" routerLink="/login">Login</a></li>
      <li><a *ngIf="!isAuthenticated" routerLink="/register">Register</a></li>
    </ul>
    <div class="navbar-actions">
      <app-logout *ngIf="isAuthenticated" (logoutEvent)="onEventLogout($event)">Logout</app-logout>
    </div>
  </nav>
</header>

<main>
  {{ currentUsername }}
  <router-outlet></router-outlet>
</main>
