<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Register</h2>

            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input id="username" formControlName="username" type="text" autocomplete="on" class="form-control" />
              <div *ngIf="submitted && field.username.errors" class="invalid-feedback d-block">
                <div *ngIf="field.username.errors?.['required']">Username is required.</div>
                <div *ngIf="field.username.errors?.['minlength']">Minimum length is 5.</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input id="email" formControlName="email" type="email" autocomplete="on" class="form-control" />
              <div *ngIf="submitted && field.email.errors" class="invalid-feedback d-block">
                <div *ngIf="field.email.errors?.['email']">Invalid email format.</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input id="password" type="password" formControlName="password" autocomplete="on" class="form-control" />
              <div *ngIf="submitted && field.password.errors" class="invalid-feedback d-block">
                <div *ngIf="field.password.errors?.['required']">Password is required.</div>
                <div *ngIf="field.password.errors?.['minlength']">Minimum length is 8.</div>
                <div *ngIf="field.password.errors?.['pattern']">
                  Password must contain at least one uppercase letter, one lowercase letter, one number, and one special
                  character.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input
                id="confirmPassword"
                type="password"
                formControlName="confirmPassword"
                autocomplete="on"
                class="form-control"
              />
              <div *ngIf="submitted && field.confirmPassword.errors" class="invalid-feedback d-block">
                <div *ngIf="field.confirmPassword.errors?.['required']">Confirm Password is required.</div>
                <div *ngIf="field.confirmPassword.errors?.['mismatch']">Passwords do not match.</div>
              </div>
            </div>

            <div class="mb-3">
              <label for="first_name" class="form-label">First Name</label>
              <input id="first_name" formControlName="first_name" type="text" autocomplete="on" class="form-control" />
            </div>

            <div class="mb-3">
              <label for="last_name" class="form-label">Last Name</label>
              <input id="last_name" formControlName="last_name" type="text" autocomplete="on" class="form-control" />
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
