<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text" autocomplete="on" />
    <div *ngIf="submitted && field.username.errors">
      <div *ngIf="field.username.errors?.['required']">Username is required.</div>
      <div *ngIf="field.username.errors?.['minlength']">Minimum length is 5.</div>
    </div>
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" autocomplete="on" />
    <div *ngIf="submitted && field.email.errors">
      <div *ngIf="field.email.errors?.['email']">Invalid email format.</div>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" autocomplete="on" />
    <div *ngIf="submitted && field.password.errors">
      <div *ngIf="field.password.errors?.['required']">Password is required.</div>
      <div *ngIf="field.password.errors?.['minlength']">Minimum length is 8.</div>
    </div>
  </div>

  <div>
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" autocomplete="on" />
    <div *ngIf="submitted && field.confirmPassword.errors">
      <div *ngIf="field.confirmPassword.errors?.['required']">Confirm Password is required.</div>
      <div *ngIf="field.confirmPassword.errors?.['mismatch']">Passwords do not match.</div>
    </div>
  </div>

  <div>
    <label for="first_name">First Name</label>
    <input id="first_name" formControlName="first_name" type="text" autocomplete="on" />
  </div>

  <div>
    <label for="last_name">Last Name</label>
    <input id="last_name" formControlName="last_name" type="text" autocomplete="on" />
  </div>

  <button type="submit">Register</button>
</form>
